/* footer */ 

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'bwmodelica_regular';
}

footer img {
    max-width: 45%;
    margin: 20px;
}

.footer-summory {
    margin: 0 15px;
}
.footer-contattami {
    margin: 30px 20px;
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.footer-contatti h3 {
    margin-bottom: 10px;
}

.footer-contatti li {
    margin: 10px 0;
}

.icone-social {
    width: 2em;
}


.content-footer {
        display: flex;
        justify-content: center;
        width: 1200px;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3em 0;
    }

    .footer-summory {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        text-align: left;
        margin-left: 15px;

    }

    .footer-summory p {
        margin: 10px 0;
        width: 100%;
        max-width: 400px;
    }

    .footer-summory a {
        padding: 0;
        margin: 10px 0;
        font-size: 20px;
        color: white;
        width: 60%;
    }

    .footer-summory img {
        width: 40%;
        min-width: 200px;
        padding: 0;
        margin: 10px 0;
    }


    .footer-contatti {
        display: flex;
        justify-content: center;
        width: 30%;
        text-align: left;
    }

    .footer-contatti h3 {
        font-size: 30px;
    }

    .footer-contatti li {
        list-style: none;
        margin: 20px 0;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        width: 30%;
        text-align: left;
    }

    .footer-social h3 {
        font-size: 30px;
    }
   
    .icone-social {
        width: 1.5em;
        margin: 50px 35px 15px 0;
    }

    @media screen and (min-width: 900px) {

        /* footer */ 

    .content-footer {
        display: flex;
        justify-content: center;
        width: 1200px;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3em 0;
    }

    .footer-summory {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        text-align: left;
        margin-left: 15px;

    }

    .footer-summory p {
        margin: 10px 0;
        width: 100%;
        max-width: 400px;
    }

    .footer-summory a {
        padding: 0;
        margin: 10px 0;
        font-size: 20px;
        color: white;
        width: 60%;
    }

    .footer-summory img {
        width: 40%;
        min-width: 200px;
        padding: 0;
        margin: 10px 0;
    }


    .footer-contatti {
        display: flex;
        justify-content: center;
        width: 30%;
        text-align: left;
    }

    .footer-contatti h3 {
        font-size: 30px;
    }

    .footer-contatti li {
        list-style: none;
        margin: 20px 0;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        width: 30%;
        text-align: left;
    }

    .footer-social h3 {
        font-size: 30px;
    }
   
    .icone-social {
        width: 1.5em;
        margin: 50px 35px 15px 0;
    }
} 