@font-face {
    font-family: 'bw_modelicabold';
    src: url('/Project/Sito-mio//Sito-code/font/Webfontkit/bwmodelica-bold-webfont.woff2') format('woff2'),
         url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}
@font-face {
    font-family: 'bw_modelicaextrabold';
    src: url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-extrabold-webfont.woff2') format('woff2'),
         url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: 700;

}
@font-face {
    font-family: 'bw_modelicamedium';
    src: url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-medium-webfont.woff2') format('woff2'),
         url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: 500;

}
@font-face {
    font-family: 'bw_modelicaregular';
    src: url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-regular-webfont.woff2') format('woff2'),
         url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.footer {
    margin: 200px 0;
}

/* navbar nera */

header {
    background-color: black;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    background: white;
}

nav {
    background: black;
}

nav a {
    color: white;
}
 /* inizio mobile */

.container-servizi {
    margin-top: 180px;
    text-align: center;
}

.icona img {
    width: 50%;
}

.content h2 {
    font-family: 'bw_modelicabold';
    margin: 1em 0;
}

.content p {
    font-family: 'bw_modelicaregular';
    margin: 1em 5em;
}

.bottone {
    font-family: 'bw_modelicaregular';
    font-size: 1.1em;
    padding: 0.5em 1.1em;
    background-color: #5218AF;
    border: none;
    color: white;
}



@media screen and (min-width:900px) {
    /* inizio servizi */

.container-servizi {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.content p {
    width: 50%;
}

.icona img {
    width: 100%;
}

}


