@font-face {
    font-family: 'bw_modelicabold';
    src: url('/Project/Sito-mio//Sito-code/font/Webfontkit/bwmodelica-bold-webfont.woff2') format('woff2'),
         url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}
@font-face {
    font-family: 'bw_modelicaextrabold';
    src: url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-extrabold-webfont.woff2') format('woff2'),
         url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: 700;

}
@font-face {
    font-family: 'bw_modelicamedium';
    src: url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-medium-webfont.woff2') format('woff2'),
         url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: 500;

}
@font-face {
    font-family: 'bw_modelicaregular';
    src: url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-regular-webfont.woff2') format('woff2'),
         url('/Project/Sito-mio/Sito-code/font/Webfontkit/bwmodelica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: gray;
    font-family: 'bw_modelicaregular';
}
/* barra di navigazione */ 

header {
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}
nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: white;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #5218AF;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.logo {
    width: 12em;
    margin: 2em;
}

li {
    font-family: 'bw_modelicamedium';
    text-transform: uppercase;
}

@media screen and (min-width: 900px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 4fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 2em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background: #5218AF;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/* Above the page */ 

.container {
    margin-top: 136px;
}

.back-img {
    background-image: url(/Project/Sito-mio/Sito-code/img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.above-the-page {
    height: 86vh;
    padding-top: 8rem;
    text-align: center;
}

.above-the-page > h2, p {
    color: white;
}

.title {
    font-family: 'bw_modelicaextrabold';
    font-size: 2.2em;
}

.above-the-page p {
    margin: 15px;
}

.cosa-sono {
    font-family: 'bw_modelicaextrabold';
    font-size: 2em;
    color: white;
}

.above-the-page button {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: white;
    border: none;
    border-radius: 2px;
}

.above-the-page a {
    font-family: 'bw_modelicamedium';
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}