@font-face {
    font-family: 'bw_modelicabold';
    src: url('../font/Webfontkit/bwmodelica-bold-webfont.woff2') format('woff2'),
         url('../font/Webfontkit/bwmodelica-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}
@font-face {
    font-family: 'bw_modelicaextrabold';
    src: url('../font/Webfontkit/bwmodelica-extrabold-webfont.woff2') format('woff2'),
         url('../font/Webfontkit/bwmodelica-extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: 700;

}
@font-face {
    font-family: 'bw_modelicamedium';
    src: url('../font/Webfontkit/bwmodelica-medium-webfont.woff2') format('woff2'),
         url('../font/Webfontkit/bwmodelica-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: 500;

}
@font-face {
    font-family: 'bw_modelicaregular';
    src: url('../font/Webfontkit/bwmodelica-regular-webfont.woff2') format('woff2'),
         url('../font/Webfontkit/bwmodelica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.footer {
    margin: 100px 0;
}

/* navbar nera */

header {
    background-color: black;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    background: white;
}

nav {
    background: black;
}

nav a {
    color: white;
}

/* about me */

.about-me {
    margin-top: 12em;
    text-align: center;
}
.img-about-me img {
    width: 75%;
}

.p-about-me h2 {
    font-family: 'bw_modelicabold';
    margin: 20px 0;
}

.p-about-me p {
    font-family: 'bw_modelicaregular';
    margin: 20px 10px;
    padding: 10px;
}

.about-me-img {
    display: none;
}

@media screen and (min-width: 900px) {

    .content-about-me {
        display: flex;
        justify-content: center;
        width: 1200px;
    }

    .about-me {
        display: flex;
        justify-content: center;
        margin: 13em 0;
    }
    
    .p-about-me {
        width: 40%;
        text-align: left;
        margin-left: 5rem;
        margin-top: 5rem;
    }

    .p-about-me p {
        width: 80%;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .about-me-img {
        display: flex;
        justify-content: center;
    }
    .img-about-me {
        text-align: center;
    }

    .immagini {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 1200px;
    }

    .immagini img {
        width: 80%;
    }
}