@font-face {
    font-family: 'bw_modelicabold';
    src: url('../font/Webfontkit/bwmodelica-bold-webfont.woff2') format('woff2'),
         url('../font/Webfontkit/bwmodelica-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}
@font-face {
    font-family: 'bw_modelicaextrabold';
    src: url('../font/Webfontkit/bwmodelica-extrabold-webfont.woff2') format('woff2'),
         url('../font/Webfontkit/bwmodelica-extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: 700;

}
@font-face {
    font-family: 'bw_modelicamedium';
    src: url('../font/Webfontkit/bwmodelica-medium-webfont.woff2') format('woff2'),
         url('../font/Webfontkit/bwmodelica-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: 500;

}
@font-face {
    font-family: 'bw_modelicaregular';
    src: url('../font/Webfontkit/bwmodelica-regular-webfont.woff2') format('woff2'),
         url('../font/Webfontkit/bwmodelica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: white;
    font-family: 'bw_modelicaregular';
}

/* Above the page */ 

.container {
    margin-top: 136px;
}

.back-img {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.above-the-page {
    height: 86vh;
    padding-top: 8rem;
    text-align: center;
}

.above-the-page h2 {
    color: white;
}

.above-the-page p {
    font-family: 'bw_modelicamedium';
    color: white;
    margin: 15px;
}

.title {
    font-family: 'bw_modelicaextrabold';
    font-size: 2.2em;
}

.cosa-sono {
    font-family: 'bw_modelicaextrabold';
    font-size: 2em;
    color: white;
}

.above-the-page button {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: white;
    border: none;
    border-radius: 2px;
}

.above-the-page a {
    font-family: 'bw_modelicamedium';
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

/* servizi */

.servizi {
    text-align: center;
    margin: 25px 0;
}

.icona-servizi {
    width: 14em;
    margin: 2em 0;
}

.servizio {
    margin-top: 4rem;
}

.servizio > h3 {
    font-size: 1.4em;
    font-family: 'bw_modelicabold';
}

.servizio > p {
    font-family: 'bw_modelicaregular';
    font-size: 1em;
}

/* portfolio */

.portfolio {
    width: 100%;
    margin: 50px auto;
}

.portfolio h2 {
    text-align: center;
    font-family: 'bw_modelicaextrabold';
    font-size: 1.8em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.container-portfolio {
    text-align: center;
}
.container-portfolio img {
    width: 80%;
}

/* about me */

.about-me {
    text-align: center;
}
.img-about-me img {
    width: 75%;
}

.p-about-me h2 {
    margin: 20px 0;
}

.p-about-me p {
    margin: 20px 10px;
    padding: 10px;
}

/* inizio desktop */

@media screen and (min-width: 900px) {
    .above-the-page {
        text-align: left;
        margin-left: 5rem;
        padding-top: 12rem;
        display: flex;
        justify-content: center;
    }

    .above-the-page p {
        margin-left: 0;
        width: 40%;
        font-size: 1.1em;
    }

    .content-atp {
        width: 1200px;
    }
    /* servizi */ 

    .content-servizi {
        display: flex;
        justify-content: center;
        width: 1200px;
    }
    .servizi {
        display: flex;
        justify-content: center;
    }

    .servizio {
        padding: 20px;
    }

    .servizio p {
        width: auto;
    }

    /* porfolio */

    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-portfolio {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
    }
    .container-portfolio {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container-portfolio img {
        width: 100%;
    }

    .port {
        margin: 0;
        width: 33%;
    }

    /* about me */

    .content-about-me {
        display: flex;
        justify-content: center;
        width: 1200px;
    }

    .about-me {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    
    .p-about-me {
        width: 40%;
        text-align: left;
        margin-left: 5rem;
        margin-top: 5rem;
    }

    .p-about-me p {
        width: 80%;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .img-about-me {
        text-align: center;
    }

}